@font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v29-latin-500.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v29-latin-600.woff2') format('woff2'); 
  }
  *{
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif ;

  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
  }

 .hero{
    background-image: url(../img/hero\ img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 650px;

 } 
 @media (max-width:1076px){
    .hero{
        background-image: url(../img/hero\ tablet\ img.png);
    }
 }
 @media (max-width:640px){
    .hero{
        background-image: url(../img/hero\ mobile\ img.png);
    }
 }
